.hero_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color: #02495E; */
    /* color: black; */
    /* border: 3px solid goldenrod; */

}

.hero_content {
    padding: 2rem;
}

.hero_content h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.line {
    border: none;
    border-top: 4px solid #02495E;
    width: 100%;
}

.hero_content p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: #02495E;
    /* color: black; */
    font-family: "Poppins", sans-serif;
    
    
}

.right img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.gradient_text {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    color: #02495E;
    font-family: "Poppins", sans-serif;
}