.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5rem;
    /* border: 3px solid gold; */
    font-family: "Poppins", sans-serif;
    color: #02495E;
   padding-left: 9rem;
   padding-right: 9rem;
   /* width: 100%; */
   
}

.left {
    width: 40%;
    /* margin-left: 2.5rem; */
    /* border: 1px solid red; */
    /* padding: 2rem; */

    
}

.right {
    width: 42%;
    /* border: 2px solid red; */
    margin-left: 50px;
}
.right img{
    max-width: 500px;
}

.register_btn {
    background-color: #AE191B;
    border-radius: 30px;
    color:white;
    width: 250px;
    height: 60px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 20px;
    font-family: "Poppins", sans-serif;
}

.register_btn:hover {
    background-color: red;
}
.left p{
    font-size: 1rem;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Poppins", sans-serif;
    text-align: justify;
}
.left h1{
    font-size: 1.5rem;
}
/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
        /* margin-left: 2rem; */
        justify-content: center;
        overflow: hidden;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .right {
        order: -1;
        width: 90%;
        margin-bottom: 20px;
    }

    .left {
        width: 90%;
        text-align: center;
        justify-content: center;
        text-align: center;
    }

    .left h1 {
        font-size: 1.5rem;
       
    }

    .left h3 {
        font-size: 1.2rem;
        /* Adjust font size for sub-headings */
    }

    .left p {
        font-size: 1rem;
        
    }

    .register_btn {
        width: 150px;
        /* Reduce button size */
        height: 50px;
        font-size: 0.9rem;
    }

    .right img {
        width: 100%;
        /* Ensure the image is responsive */
        max-width: 300px;
        /* Set a max-width for the image */
        height: auto;
        
    }
}