.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #02465B;
    width: 100%;
}

.navbar_brand {
    padding: 0.5rem
}
.navbar_brand ,img{
    margin-left: 0.5rem;
}

.navbar_links {
    display: flex;
    gap: 40px;
    text-align: center;
    justify-content: center;
    padding: 2%;
    transition: max-height 0.3s ease-in-out;
}
.navbar_links a.active {
    /* Matches hover color */
    font-weight: bold;
    border-bottom: 2px solid #FF6F61;
    /* Underline effect */
    transform: scale(1.1);
    /* Optional: match hover effect */
}
.navbar_links a {
    color: #02465B;
    text-decoration: none;
    transition: color 0.3s ease,transform 0.3s ease;
}
.navbar_links a:hover{
    color: #FF6F61;
        transform: scale(1.1);
}
.navbar_links img {
    height: 20px;
}

.navbar_toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar_links {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ffffff;
        overflow: hidden;
        max-height: 0;
    }

    .navbar_links.open {
        max-height: 200px;
        /* Adjust as needed */
    }

    .navbar_toggle {
        display: block;
    }
}

