.card_contener {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 5rem;
    margin-bottom: 5rem;
    /* border: 3px solid green; */
}

.card {
    max-width: 400px;
    max-height: 350;
    /* height: 280px; */
    padding: 1.5rem;
    margin: 0 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-sizing: border-box;
    border-bottom: 0.3rem solid #02697E;
    
}

.slick-slider {
    margin: 0 auto;
    width: 100%;
    /* Ensure it fits within the container */
    overflow: hidden;
    /* Prevent content from spilling outside */
}

.card_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

.card_img img {
    height: auto;
    width: 50px;
}

.feedback p {
    font-size: 1rem;
    text-align: justify;
    color: #02495E;
    /* color: black; */
    font-family: "Poppins", sans-serif;
    /* letter-spacing: 0.5px; */
         
    
}
.feedback hr{
    border: none;
        background-color: #02586F;
        /* background-color: black; */
        height: 0.2rem;
        border-radius: 5px;
}

.feedback h4 {
    color: #02495E;
    /* color: black; */
    text-align: center;
    font-family: "Poppins", sans-serif;
    
    
}

@media screen and (max-width: 768px) {
    .card_contener {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .card {
        max-width: 90%;
        margin: 1rem auto;
    }

    .feedback p {
        font-size: 0.9rem;
    }
}