.jobListingContainer {
  margin: 5rem auto 4rem;
  margin-left: 2.5rem;
  margin-right: 2.8rem;
}

.title {
  text-align: center;
  /* color: #00046c; */
  font-family: "Poppins", sans-serif;
  color: #02495E;
  margin-bottom: 1.5rem;
}

.jobGrid {
  margin: auto 3rem;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-content: center;
}

.jobLink {
  text-decoration: none;
  color: inherit;
}

.jobCard {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.jobCard:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.jobHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.jobHeader h2 {
  font-size: 1.25rem;
  /* font-weight: bold; */
  /* color: #00046c; */
  color: rgb(42, 42, 42);
  margin-bottom: 7px;
  margin-top: -0.5rem;
  font-family: "Poppins", sans-serif;

}

.company {
  font-size: 0.9rem;
  color: #666;
}

.jobDetails{
  margin-top: 1.5rem;
}
.jobDetails p {
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
  font-size: 0.9rem;
  color: #444;
  font-family: "Poppins", sans-serif;
}

.jobDetails p svg {
  margin-right: 0.5rem;
  /* color: #00046c; */
  color: black;
}

.footer,.bottome {
  display: flex;
  align-items: center;
  margin-top: 0.7rem;
  font-size: 0.8rem;
  color: #666;
}

.bottome{
  justify-content: space-between;
}
.bottome p{
  font-family: "Poppins", sans-serif;
  margin-bottom: -25px;
  color: green;
  
}

.footer svg {
  margin-right: 0.5rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .jobGrid {
    grid-template-columns: 1fr;
    margin: auto 0.5rem;
  }
}
