.container {
    position: relative;
    width: 80%;
    height: 70vh;
    /* Adjust height for flexibility */
    margin: 50px auto;
    background: white;
    padding: 40px;
    text-align: left;
    
    margin-top: 0px;
}

.decorativeSquares {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.decorativeSquares::before,
.decorativeSquares::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #b22222;
    border-radius: 5px;
}

.decorativeSquares::before {
    margin-left: 28px;
}

.decorativeSquares1 {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #b22222;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.contentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px
}

.textContainer {
    width: 65%;
    padding: 20px;
   
}

.imageContainer {
    width: 30%;
   
}

.serviceImage {
    width: 90%;
    height: auto;
   
}

.heading {
    color: #b22222;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-top: -40px;
    margin-left: 10px;
    margin-bottom: -10px;
}

.hr {
    border: 1px solid #9ecbdf;
    width: 550px;
    margin-left: 10px;
}

.subtitle {
    color: #b22222;
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: -8px;
    margin-left: 10px;
}

.list {
    list-style-type: disc;
    padding-left: 20px;
    color: #03314b;
    font-weight: 600;
    display: block;
}

.list li {
    margin-bottom: 20px;
    display: block; /* Ensures proper bullet rendering */
}

.list li::marker {
    content: "\2022 "; /* Bullet point fix */
    color: #03314b; 
    font-weight: bold;
}

.list li span {
    font-weight: normal;
    color: #03314b;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container{
        width: 90%;
        height: auto;
    }
    .contentWrapper {
        flex-direction: column;
    }

    .textContainer,
    .imageContainer {
        width: 100%;
    }

    .heading,
    .subtitle {
        text-align: left;
        margin-left: 10px;
        
    }
    .heading{
        margin-top: -40px;
        font-size: 22px;
    }
    .hr{
        margin-left: 30px;
    }
}
