.container {
        position: relative;
            width: 80%;
            height: 60vh;
            margin: 50px auto;
            background: white;
            padding: 40px;
            text-align: left;
}

.heading {
    color: #b22222;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-top: -10px;
    margin-left: 30px;
}

.hr {
    border: 1px solid #9ecbdf;
    width: 550px;
    margin-left: 30px;
    margin-top: -18px;


}

.subheading{
    color: #b22222;
    font-size: 16px;
    margin-bottom: -25px;
    text-align: left;
    margin-top: -10px;
    margin-left: 30px;

}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 15px;
}

.card {
    padding: 15px;
}

.card h3 {
    font-size: 18px;
    color: #003f5c;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #003f5c;
}

.decorativeSquares {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.decorativeSquares::before,
.decorativeSquares::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #b22222;
    border-radius: 5px;
}

.decorativeSquares::before {
    margin-left: 28px;
}

.decorativeSquares1 {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #b22222;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

