/* ServicePortfolio.module.css */

.container {
    position: relative;
    width: 80%;
    height: 60vh;
    margin: 50px auto;
    background: white;
    padding: 40px;
    text-align: center;
}
.decorativeSquares {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.decorativeSquares::before,
.decorativeSquares::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #b22222;
    border-radius: 5px;
}

.decorativeSquares::before{
    margin-left: 28px;
}
.decorativeSquares1{
    content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-color: #b22222;
        border-radius: 5px;
        position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            /* gap: 5px; */
}

.heading {
    color: #b22222;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-top: -10px;
    margin-left: 30px;
}
.hr{
    border: 1px solid #9ecbdf;
    width: 550px;
    margin-left: 30px;
    margin-top: -18px;
  
  
}
.subtitle {
    color: #b22222;
    font-size: 16px;
    margin-bottom: -25px;
    text-align: left;
    margin-top: -10px;
    margin-left: 30px;

}

.contentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -50px;
    margin-left: 30px;
    margin-top: 20px;
}

.textContainer {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: 10px; /* Space between the columns */
    text-align: left;
  
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}



.serviceTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: #003366;
    margin-top: -10px;
}

.serviceDescription {
    font-size: 1rem;
    color: #003366;
    margin-top: -10px;
}

.imageContainer {
    width: 40%;
}

.serviceImage {
    width: 100%;
    height: auto;
}
