.container {
    position: relative;
    width: 80%;
    height: 60vh;
    margin: 50px auto;
    background: white;
    padding: 40px;
    text-align: left;
}

.heading {
    color: #b22222;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-top: -10px;
    margin-left: 30px;
}

.hr {
    border: 1px solid #9ecbdf;
    width: 550px;
    margin-left: 30px;
    margin-top: -18px;


}

.subheading {
    color: #b22222;
    font-size: 16px;
    margin-bottom: -25px;
    text-align: left;
    margin-top: -10px;
    margin-left: 30px;

}



.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 25px;
}

.card {
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.iconPlaceholder {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
}

.text {
    font-size: 14px;
    color: #003f5c;
}

.decorativeSquares {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.decorativeSquares::before,
.decorativeSquares::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #b22222;
    border-radius: 5px;
}

.decorativeSquares::before {
    margin-left: 28px;
}

.decorativeSquares1 {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #b22222;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}



@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}