.container {
    position: relative;
    width: 80%;
    margin: 50px auto;
    background: white;
    padding: 40px;
    text-align: center;
}
.decorativeSquares {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.decorativeSquares::before,
.decorativeSquares::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #b22222;
    border-radius: 5px;
}

.decorativeSquares::before{
    margin-left: 28px;
}
.decorativeSquares1{
    content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-color: #b22222;
        border-radius: 5px;
        position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            /* gap: 5px; */
}

.heading {
    color: #b22222;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-top: -10px;
    margin-left: 30px;
}
.hr{
    border: 1px solid #9ecbdf;
    width: 550px;
    margin-left: 30px;
    margin-top: -18px;
  
}
.subtitle {
    color: #b22222;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: left;
    margin-top: -10px;
    margin-left: 30px;
}

.insightsGrid {
    display: flex;
    justify-content: space-around;
}

.card {
    text-align: center;
    max-width: 250px;
}

.icon {
    width: 180px;
    height: 150px;
    margin-bottom: 10px;
}

.cardTitle {
    font-size: 18px;
    font-weight: 600;
    color: #003f5c;
    text-align: left;
}

.cardText {
    color: #003f5c;
    font-size: 14px;
    text-align: left;
    margin-top: -10px;
}
