.container {
    position: relative;
    width: 70%;
    height: 60vh;
    margin: 50px auto;
    background: white;
    padding: 40px;
    text-align: left;
}

.decorativeSquares {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.decorativeSquares::before,
.decorativeSquares::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #b22222;
    border-radius: 5px;
}

.decorativeSquares::before{
    margin-left: 30px;
}
.decorativeSquares1{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #b22222;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.hr {
    border: 1px solid #9ecbdf;
    width: 100%;
    max-width: 550px;
    margin-left: 20px;
    margin-top: -10px;
}

.heading {
    color: #b22222;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
}



.subtitle {
    color: #b22222;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: -8px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 20px;
    }

    .heading {
        font-size: 22px;
        margin-top: 20px;
        margin-left: 30px;
    }

    .subtitle {
        font-size: 14px;
        margin-left: 30px;
    }
    .hr{
        margin-left: 30px;
    }
}