.container {
    
    position: relative;
    width: 80%;
    height: 60vh;
    margin: 50px auto;
    background: white;
    padding: 40px;
    text-align: left;
}
.decorativeSquares {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.decorativeSquares::before,
.decorativeSquares::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #b22222;
    border-radius: 5px;
}

.decorativeSquares::before{
    margin-left: 28px;
}
.decorativeSquares1{
    content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-color: #b22222;
        border-radius: 5px;
        position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            /* gap: 5px; */
}

.heading {
    color: #b22222;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: -10px;
    margin-left: 30px;
}
.hr{
    border: 1px solid #9ecbdf;
    width: 550px;
    margin-left: 30px;
    margin-top: -10px;
  
}


.subtitle {
    color: #b22222;
    font-size: 18px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-top: -10px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.card {
    background: #fff;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    width: 470px;
    /* align-items: flex-start; */
    gap: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); */
}

.icon {
    width: 280px;
    height: 150px;
    object-fit: contain;
    /* align-items: flex-start; */
   margin-top: 40px;
   /* border: 1px solid rebeccapurple; */
}
.cardContent{
    text-align:left;
}

.cardTitle {
    font-size: 22px;
    font-weight: bold;
    color: #003f5c;
    /* margin-bottom: 5px; */
    
}

.cardText {
    color: #003f5c;
    font-size: 16px;
    margin-top: -10px;
   
}

@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}